<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moedas</title>
</head>

<body>

    <form id="form" action="">
        <select type="select" id="convert" name="convert">
            <option value="USD-BRL">USD-BRL</option>
            <option value="BRL-USD">BRL-USD</option>
            <option value="EUR=USD">EUR=USD</option>
        <select>
            <input type="button" value="submit">
</form>

</body>

</html>